*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	color: var(--color-text);
	background: var(--color-background);
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 10px;
}

.container {
	height: 100vh;
	min-height: 100vh;
	width: 100%;
}

.row {
	display: flex;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-family: 'Space Grotesk', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: 'IBM Plex Sans', sans-serif;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

.column {
	width: 50%;
	height: 100%;
}
